/* need */
.form{
  opacity: 1;
  background: var(--background-form);
}

.form form{
  display: flex;
}

@media (max-width: 460px) {
  .form {
      width: 310px;
  }
  
  .inputs, input, #btn {
      width: 100%;
  }
}

/* interactive */
.wrapper{
  display: flex;
  background: url("../img/unsplash.png") center no-repeat;
}

.form h3{
  font-size: 24px;
}

input{
  height: 44px;
}

#btn{
  width: 306px;
  background: var(--color-button);
}