.wrapper{
  background: url("../img/unsplash.png");
  display: flex;
}
.form{
  opacity: 1;
  background: var(--background-form);
  backdrop-filter: blur(4px); 
}   
.form form{
  display: flex;
}
input{
  height: 44px;
}
.form h3{
  font-size: 24px;
}

#btn{
  width: 306px;
  background-color: var(--color-button);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .form{
    width: 100%;
    padding: 0 15px;
  }
  .form h3{
    margin-top: 20px;
  }
}
